* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  min-height: 250px;
}
/* Aca empiezan los estilos del header */
header {
  height: 200px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -webkit-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -moz-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  background-color: rgba(138, 21, 192, 0.522);

}

.saludo {
  width: 250px;
  margin-left: 30px;
}

.logo {
  width: 275px;
  margin-right: -140px;
}

header div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

header nav ul li {
  height: 60px;
  display: block;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  padding: 15px;
  list-style: none;
  border-radius: 20px;
  margin-right: 40px;
  box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -webkit-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -moz-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
}

header nav ul li:hover {
  background-color: rgba(22, 165, 48, 0.522);
}

/* Aca empiezan los estilos del main */
main {
  background-color: rgba(22, 165, 48, 0.522);
  flex: 2;
}

h3 {
  font-size: 35px;
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  min-width: 250px;

}

.item-grid {
  width: 220px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -webkit-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -moz-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
}

.item-grid:hover {
  background-color: rgba(138, 21, 192, 0.522);
}

.item-grid img {
  width: 100%;
  border-radius: 50%;
}

.item-grid-cread {
  width: 220px;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -webkit-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  -moz-box-shadow: 2px 7px 33px 1px rgba(53, 26, 115, 0.9);
  margin: auto;
}

.item-grid-cread:hover {
  background-color: rgba(138, 21, 192, 0.522);
}

.item-grid-cread img {
  width: 100%;
  border-radius: 50%;
}

/* Aca empiezan los estilos del footer */
footer {
  background-color: rgba(138, 21, 192, 0.522);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 80px;
}

.credit {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1000px;
}

footer ul {
  list-style: none;
}

footer ul li {
  width: 150px;
  font-size: 30px;
  text-align: center;

}

footer ul li:hover {
  background-color: rgba(22, 165, 48, 0.522);
}

a {
  text-decoration: none;
}

footer button {
  text-decoration: none;
  width: 100px;
  font-size: 20px;
  margin-left: 25px;
  background-color: rgba(138, 21, 192, 0.522);

}

footer button:hover {
  background-color: rgba(22, 165, 48, 0.522);
}

/* Aca empiezan los media querie */

@media (max-width: 480px) {
  header {
    background-color: rgba(22, 165, 48, 0.522);
  }

  main {
    min-width: 100vh;
    padding: 20px;
    background-color: rgba(138, 21, 192, 0.522);
  }
  .item-grid:hover {
    background-color: rgba(22, 165, 48, 0.522);
  }
  .item-grid-cread:hover {
    background-color: rgba(22, 165, 48, 0.522);
  }

  footer {
    background-color: rgba(22, 165, 48, 0.522);
  }
  .credit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
  }
} 